/* Fonts */
@font-face {
  font-family: 'fk';
  src: url('../fonts/FKRomanStandard-Regular.woff2') format('woff2'),
       url('../fonts/FKRomanStandard-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Mallorybook';
  src: url('../fonts/Mallory-Book.woff2') format('woff2'),
       url('../fonts/Mallory-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Mallory';
  src: url('../fonts/Mallory-Bold.woff2') format('woff2'),
       url('../fonts/Mallory-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Malloryc';
  src: url('../fonts/MalloryCond-Black.woff2') format('woff2'),
       url('../fonts/MalloryCond-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

:root {
  /* Base */
  --color_white: #ffffff;
  --color_black: #706D6C;
  --color_grey: #21201E;
  --color_sand: #f7f1ed;

  /* Garnet */
  --color_dark_garnet: #401C30;
  --color_dark_garnet_half: #924e5e;
  --color_salmon: #ee8377;

  /* Green */
  --color_dark_green: #19471F;
  --color_dark_green_half: #3a6640;
  --color_green: #A3D052;

  /* Blue */
  --color_dark_blue: #202048;
  --color_dark_blue_half: #555584;
  --color_blue: #72A5FD;

  /* Fonts */
  --font_serif: 'fk', 'Times New Roman', Georgia, serif;
  --font_sans_serif: 'Malloryc', -apple-system, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --font_sans_serif_book: 'Mallorybook', -apple-system, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  
  /* Config */
  --external_gutter: 2vw;
  --half_external_gutter: 1vw;
  
  /* SVG why not */
  --dotted_dark_svg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgNSAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjEiIGN5PSIxIiByPSIxIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4=');
  --dotted_light_svg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgNSAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjEiIGN5PSIxIiByPSIxIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=');
}

/* Dark mode colors */
 
@media (prefers-color-scheme: dark) {
  /* :root {
      --color_white: #706D6C;
      --color_black: #ffffff;
      --color_grey: #f7f1ed;
      --color_sand: #21201E;
    } */
} 


/* A11Y */
.a11y-navigation{
  position: fixed;
  z-index: 100;
  top: 1em;
  left: 1em;
}
.a11y-navigation ul li{
  list-style: none;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-show-on-focus:focus{
  z-index: 20;
  width: auto;
  min-width: 10em;
  height: auto;
  clip: auto;
  background-color: #000;
  padding: 0.4em 1em;
  color: #fff;
}


@media (scripting: enabled) {
  [loading="lazy"] {
    opacity: 0;
    transition: opacity 0.5s;
  }
}

/* Prevent animation library to hide data for javascript disabled https://github.com/michalsnik/aos/issues/541 */
html.no-js [data-aos] {
  opacity: 1;
  transform: none;
}


html{
  font-size: 90%;
  scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font_serif);
  font-size: calc(0.9em + 0.5vw);
  font-size: clamp(0.9em,calc(0.9em + 1vw),20px);
  margin: 0;
  padding: 0;
}




a{
  color: ;
  text-decoration-skip-ink: auto;
  text-decoration: currentcolor underline;
  text-underline-offset: 3px;
}
a:hover{
  color: ;
}

/* BUTTON */
a.button, .button{
  background-color: var(--color_salmon);
  color: var(--color_dark_garnet) ;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: none;
  font-family: var(--font_sans_serif_book);
  border: 3px solid var(--color_salmon);
}
a.button:hover, .button:hover{
  text-shadow: 1px 1px 1px var(--color_dark_garnet_half);
  border-bottom-color: var(--color_dark_garnet_half);
  border-right-color: var(--color_dark_garnet_half);
}
a.button:active, .button:active{
  border-top-color: var(--color_dark_garnet_half);
  border-left-color: var(--color_dark_garnet_half);
  border-bottom-color: var(--color_salmon);
  border-right-color: var(--color_salmon);
}

.button.red{
  background-color: var(--color_salmon);
  border-color: var(--color_salmon);
  color: var(--color_dark_garnet) ;
}

.button.green{
  background-color: var(--color_green);
  border-color: var(--color_green);
  color: var(--color_dark_green);
}
a.button.green:hover, .button.green:hover{
  text-shadow: 1px 1px 1px var(--color_dark_green_half);
  border-bottom-color: var(--color_dark_green_half);
  border-right-color: var(--color_dark_green_half);
}
a.button.green:active, .button.green:active{
  border-top-color: var(--color_dark_green_half);
  border-left-color: var(--color_dark_green_half);
  border-bottom-color: var(--color_green);
  border-right-color: var(--color_green);
}

.button.blue{
  background-color: var(--color_blue);
  border-color: var(--color_blue);
  color: var(--color_dark_blue);
}
a.button.blue:hover, .button.blue:hover{
  text-shadow: 1px 1px 1px var(--color_dark_blue_half);
  border-bottom-color: var(--color_dark_blue_half);
  border-right-color: var(--color_dark_blue_half);
}
a.button.blue:active, .button.blue:active{
  border-top-color: var(--color_dark_blue_half);
  border-left-color: var(--color_dark_blue_half);
  border-bottom-color: var(--color_blue);
  border-right-color: var(--color_blue);
}





/* Typography */
h1, h2, h3, h4, h5{
  word-wrap: break-word;
  font-family: var(--font_sans_serif);
  text-transform: uppercase;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
h1, .h1, .h-huge {
  font-size: -webkit-calc(200% + 4vw);
  font-size: clamp(1.3em,calc(1.8em + 2vw),80px);
  line-height: 1.1em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
h2, .h2 {
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.3em,calc(1.2em + 1vw),50px);
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.4em;
}
h3, .h3 {
  font-size: calc(0.8em + 0.5vw);
  font-size: clamp(0.9em,calc(0.8em + 0.5vw),50px);
  line-height: 1.3em;
  /* margin-top: 0;
  margin-bottom: 0.4em; */
  font-weight: normal;
  text-transform: none;
  font-family: var(--font_serif);
  em{
    font-style: normal;
    font-family: var(--font_sans_serif_book);
  }
}

.lead{
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.6em,calc(1.2em + 1vw),30px);
  line-height: 1.3em;
  font-weight: 600;
}


.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}

blockquote{
  font-size: 130%;
}

p, ul, ol, pre, table, blockquote {
  line-height: 1.56em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul, ol{
  margin-left: 1.4em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li, ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.3em;
  margin-bottom: 0px;
}

input, textarea, keygen, select, button, submit{
  font-size: 100%;
}
input{
  padding: 0.5em 1em;
}

hr{
  border:none; 
  height: 2px;
  background-image: var(--dotted_dark_svg);
  background-repeat: repeat-x;
}
hr.white{
  background-image: var(--dotted_light_svg);
}

mark{
  /* background-color: var(--sable); */
}

hgroup{
  text-align: center;
}

/* container */
@supports (display: grid) and (not (-ms-ime-align: auto)) {
  .container{
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 90em) [main-end] minmax(1em, 1fr) [full-end];
  }
  .container > * {
    grid-column: full;
  }
}

/* HEADER */
header.header{
  background-color: var(--color_dark_garnet);
  display: flex;
  justify-content: space-between;
  padding: var(--external_gutter);
}
/* LOGO */
#logo{
  display: block;
  width: 12vmax;
  max-width: 150px;
  aspect-ratio: 13 / 4;
}

/* HERO */
.hero{
  background-color: var(--color_dark_garnet);
  color: var(--color_white);
  padding: var(--external_gutter);
  text-align: center;
}
.hero em{
  color: var(--color_salmon);
  font-style: normal;
}
.hero-content{
  h1{
    line-height: 1em;
    margin-bottom: 0.6em;
  }
  margin-bottom: 3em;
}


.community-crowd {
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: 1fr 2fr repeat(3, 1fr) 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  @media (max-width: 1023px) {
    grid-template-columns: 0.5fr 2fr repeat(5, 1fr) 0.5fr;
    grid-template-rows: 0.5fr 1fr 4fr repeat(2, 1fr) 0.5fr; 
  }
}


.join { grid-area: 2 / 2 / 3 / 4; }
.project-exemple-2 { grid-area: 4 / 2 / 6 / 3; }
.project-exemple-3 { grid-area: 2 / 6 / 4 / 8; }
.project-exemple-1 { grid-area: 5 / 5 / 7 / 7; }
.crowd-content { 
  grid-area: 1 / 1 / 7 / 9; 
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
}
.project-exemple img{
  max-width: 100%;
}

/* Hero project */
.hero-projects{
  margin-top: 3em;
}
.hero-projects-title{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font_sans_serif_book);
  text-transform: none;
  font-size: 0.9em;
  opacity: 0.7;
}

.hero-projects-title::before,
.hero-projects-title::after {
  content: "";
  flex: 1;
  opacity: 1; /* Initial opacity for fade effect */
  margin: 0 1.4em; /* Space between line and text */
  height: 2px;
  color: var(--color_white);
  background-image: var(--dotted_light_svg);
  background-repeat: repeat-x;
}

.hero-projects-title::before {
  mask-image: linear-gradient(to left, black, transparent);
}

.hero-projects-title::after {
  mask-image: linear-gradient(to right, black, transparent);
}




.crowd path{
  fill: var(--color_salmon);
}
.crowd path.freeplace{
  fill: var(--color_dark_garnet_half);
}
.crowd path:hover{
  fill: var(--color_white);
  transition: fill 0.3s ease-in-out;
}
.crowd path.freeplace:hover{
  fill: var(--color_salmon);
}


/* WHY */
.why{
  background-color: var(--color_sand);
  padding: var(--external_gutter);
}

/* HOW */
.how{
  dl{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    
    dd{
      margin: 0;
    }
    dt{
      font-family: var(--font_sans_serif);
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.1em;
    }
  }
}


/* QUOTE */
.quote{
  grid-column: main;
  background-color: var(--color_dark_green);
  color: var(--color_white);
  padding: var(--external_gutter);
  display: flex;
  align-items: center;
  gap: var(--external_gutter) ;
  @media (max-width: 1023px) {
    flex-direction: column-reverse;
  }

}
.quote img{
  margin: var(--external_gutter);
  max-width: 100%;
}
.quote blockquote{
  margin: 0;
}
.quote cite{
  font-family: var(--font_sans_serif_book);
}
.quote cite span{
  display: block;
  font-style: normal;
}
.quote-author{
  color: var(--color_green);
}

/* SUPPORT */
.support{
  background-color: var(--color_dark_garnet);
  color: var(--color_white);
  padding: var(--external_gutter);
}
.support hgroup{
  margin: var(--external_gutter);
}
.support .footer{
  margin: var(--external_gutter) 0;
}
.support .footer hr{
  opacity: 0.5;
  margin: var(--external_gutter) 0;
}
.choose{
  margin-top: var(--external_gutter);
  @media (min-width: 800px) {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--external_gutter) 1fr var(--external_gutter);
  }
}
.choose article{
  color: var(--color_black);
  background-color: var(--color_white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 800px) {
    margin-bottom: var(--external_gutter);
  }
}
.choose article>*, .choose article>footer>*{
  margin: var(--external_gutter);
}
.choose article footer{
  background-color: var(--color_sand);
  margin: 0;
}
.choose article.bedrock{
  grid-area: 2 / 1 / 3 / 2; 
}
.choose article.builders{
  grid-area: 1 / 2 / 4 / 3; 
}
.choose article.sponsors{
  grid-area: 2 / 3 / 3 / 4;
}


/* BOX */
.multibox{
  grid-column: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(22em, 100%), 1fr));
  gap: var(--external_gutter);
  padding: var(--external_gutter) 0;
}
.box{
  background-color: var(--color_sand);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .box-content{
  margin: var(--external_gutter);
}
.box .box-icon{
  margin: var(--external_gutter);
}


/* PROJECTS BLOC */
.project_list{
 background-color: var(--color_sand); 
 padding: var(--external_gutter);
}

/* FOOTER */
footer.footer{
  margin-top: var(--external_gutter);
  grid-column: main;
}
footer #logo{
  --color_white:#401C30;
}
.contact{  
  display: flex;
  flex-wrap: wrap;
  color: var(--color_white);
  gap: var(--half_external_gutter);
  padding: var(--external_gutter);
  
  article{
    flex: 1 1 clamp(400px, 30%, 600px);
    padding: var(--external_gutter);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .newsletter{
    flex-grow: 4;
    background-color: var(--color_dark_green);
  }
  .supportus{
    flex-grow: 2;
    background-color: var(--color_dark_garnet);
  }
  .social{
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    
    background-color: var(--color_dark_blue);
  }
}
.credits{
  padding: var(--external_gutter);
  font-size: 80%;
  color: var(--color_black);
}
.credits #logo{
  margin-bottom: var(--half_external_gutter);
}


/* flexible */
.space-between{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.space-between>*{
  flex: 1 1 clamp(400px, 20%, 600px);
}


/* Utilities */
.hide-mobile{
  display: none;
}
@media (min-width: 60em) {
  .hide-mobile{
    display: block;
  }
}




