{{ $showProjectLogo := .Get "show-project-logo" | default "false" }}
{{ $projectsTitle := .Get "projects-title" | default "Projects" }}

<section class="hero">
  <div class="hero-content" data-aos="fade-up" data-aos-duration="400">
    {{ .Inner | markdownify }}
  </div>

  <div class="community-crowd">
    
    <div class="join" data-aos="fade" data-aos-duration="700">{{ partial "svg" "community" }}</div>
    
    <div class="project-exemple project-exemple-1" data-aos="fade" data-aos-duration="900"><img src="./images/project_community_box.png" alt="exemple of project" loading="lazy"/></div>
    <div class="project-exemple project-exemple-2" data-aos="fade" data-aos-duration="400"><img src="./images/project_community_children.png" alt="exemple of project" loading="lazy"/></div>
    <div class="project-exemple project-exemple-3" data-aos="fade" data-aos-duration="400"><img src="./images/project_community_water.png" alt="exemple of project" loading="lazy"/></div>
    <div class="crowd-content">  
    <svg width="480" height="480" viewBox="0 0 480 480" fill="none" xmlns="http://www.w3.org/2000/svg" class="crowd">
    {{ $xml := readFile "data/crowd.xml" }}
    {{ $data := transform.Unmarshal $xml }}
    {{ range $index, $element := $data.path }}
        {{ $duration := add 10 (mul $index 20) }}
        {{ $fill := "" }}
        {{ if eq (index $element "-freeplace") "true" }}
            {{ $fill = "freeplace" }}
        {{ end }}
        <path d="{{ index $element "-d" }}" class="{{ $fill }}" data-aos="fade" data-aos-duration="{{ $duration }}"  data-aos-easing="ease-in-out"/>
    {{ end }}
    </svg>
    </div>
  </div>
  

  {{ if eq $showProjectLogo "true" }}
  <div class="hero-projects" data-aos="fade" data-aos-duration="600">
    <h2 class="hero-projects-title">{{ $projectsTitle }}</h2>
    <div class="project_logos">
      {{ range .Site.Sections }}
        {{ range first 12 (.Data.Pages.ByDate.Reverse) }}
          {{ if .Params.project_logo }}
          <div class="project_logo">
            <img src="{{ .Params.project_logo }}" alt="{{ .Title }} logo">
          </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>